{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h2 class="text-2xl font-bold">Registro de Profesores</h2>
    <form method="post" class="mt-4">
        <div class="mb-4">
            <label for="no_empleado" class="block text-gray-700">Número de Empleado</label>
            <input type="text" class="form-input mt-1 block w-full" id="no_empleado" name="no_empleado" placeholder="Número de empleado" required>
        </div>
        <div class="mb-4">
            <label for="nombre" class="block text-gray-700">Nombre</label>
            <input type="text" class="form-input mt-1 block w-full" id="nombre" name="nombre" placeholder="Nombre" required>
        </div>
        <button type="submit" class="btn btn-success">Registrar</button>
    </form>

    <h2 class="mt-5 text-2xl font-bold">Lista de Profesores</h2>
    <table class="table-auto w-full mt-4">
        <thead>
            <tr class="bg-gray-200">
                <th class="px-4 py-2">Número de Empleado</th>
                <th class="px-4 py-2">Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for profesor in profes %}
            <tr>
                <td class="border px-4 py-2">{{ profesor.no_empleado }}</td>
                <td class="border px-4 py-2">{{ profesor.nombre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
