{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="table-responsive">
        <h2></h2>
        <h3 class="mt-4">Alumnos</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Matrícula</th>
                    <th>Nombre</th>
                    <th>Carrera</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos %}
                <tr>
                    <td>{{ alumno.matricula }}</td>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.carrera }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3 class="mt-4">Profesores</h3>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Número de Empleado</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for profe in profes %}
                <tr>
                    <td>{{ profe.no_empleado }}</td>
                    <td>{{ profe.nombre }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3 class="mt-4">Materias</h3>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>ID Materia</th>
                    <th>Nombre de la Materia</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in materias %}
                <tr>
                    <td>{{ materia.id_materia }}</td>
                    <td>{{ materia.nombre_materia }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
